/* etiqueta HTML va directamente el nombre*/
/* CLASS va con "." adelante*/
/*ID va con "#" adelante*/

body{
background-color: rgba(168, 219, 219, 0.411); 
color: rgb(8, 1, 1);
}
#redes{
    text-align: center;
    margin: auto;
}
li{
list-style-type: none;
margin-left: -3,5%;
}
#sobre{
    background-color: rgb(203, 171, 208);
}

.nomperfil{
    font-size: 3em;
    color: rgba(29, 48, 87, 0.801);
    
}


.apellido{
    color: rgb(14, 49, 40);
}
.video{
    margin: 4rem 0 0 20rem;
}
.mapa{
    padding: 5%;
    border-style: solid;
}
.logoAp{
    filter:invert()
}